  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root{
  --background-color:#000000;
  --main-font:'Ubuntu', sans-serif;
  --font-color :#C69749;
  --hovered-color :#735F32;
  --font-size: 1.12rem;
  --header-size :1.8rem;
  --side-header-size:1.5rem;
  --border-bottom: 1px solid rgba(255, 255, 255, 0.386);
  --button-border: 1px solid rgba(255, 255, 255, 0.774);
}
[data-theme="light"]{
  --background-color:#cccbc8;
  --font-color :#1A0000;
  --hovered-color :#58287F;
  --border-bottom: 1px solid rgba(0, 0, 0, 0.386);
  --button-border: 1px solid rgba(0, 0, 0, 0.774);

}

body{
  background-color: var(--background-color);
  margin:0 0.5rem;
  max-width: 100%;
  font-family: var(--main-font);
}
*{
  font-size: var(--font-size);
}